body {
}
.inputLB{ height:25px; border-radius:5px; border:1px solid #999; width:300px; margin-top:5px;}
.buttonLB {
    height:30px;border-radius:5px; border:1px solid #999; width:300px; margin-top:10px;
    cursor:pointer;
width:150px; color:#FFF; background-color:#06c;font-weight:bold;
}

.buttonLB1 {
    height:30px;border-radius:5px; border:1px solid #999; width:300px; margin-top:10px;
    cursor:pointer;
width:150px; color:#FFF; background-color:#06c;font-weight:bold;padding: 4px 20px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button1 {background-color: #06c;} /* Blue */
.button2 {background-color: #008CBA;} /* Blue */
a  { text-decoration:none;}
.button3 {background-color: #f44336;} /* Red */ 
.button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
.button5 {background-color: #555555;} /* Black */

table.gridtable {
    
    margin-top: 10px;
	font-family: verdana,arial,sans-serif;
	font-size:14px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 4px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 4px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}

.logo li {list-style-type:none; list-style:none;}