@charset "utf-8";
/* CSS Document */
/***
 */
*{margin:0; padding:0;}
/*input{border:none; padding-left:5px;}*/
.clear{zoom:1; overflow:hidden;}
.clear:after{content:"";display:block;clear:both;}
.clear:before{content:"";display:block;}
a{text-decoration:none;}
ul li{ list-style:none;}

body{font-family:'微软雅黑'; margin:0 auto;width:100%;}
.top{background:#1778bc; width:100%; height:200px;}
.logo{ position:absolute; top:50px; left:10%;}
.form1{ border:1px solid #CCC; display:block; width:700px; position:absolute; top:100px; left:25%; box-shadow:10px 10px 10px #999; z-index:1; background-color:#FFF;}
.form1 table{padding-left:20px;}
.form1 input{ border-radius:5px; height:30px; border:1px solid #999;}

/*主页*/
.left{width:120px; background-color:#09F; padding:20px; float:left; height:500px;}
.left li{ height:40px; border-bottom:1px solid #999; color:#fff; text-align:center; line-height:40px; font-size:18px; font-weight:bold;}
.left li:hover{background:#06C; cursor:pointer;}
.right{float:left;}
.right_top{ background-color:#06C; color:#FFF;  width:100px; height:30px; text-align:center; line-height:30px; border-radius:5px; margin:10px 0 5px 20px; font-weight: 600; }


/*表格*/
.table{ border:1px solid #999;}
.table th{ background-color:#06c; color:#FFF; font-weight:bold; font-size:14px;}
.table th, .table td{ padding:10px; text-align:center; font-weight:bold;}
.table td{ color:#666;}
.table td a{ color:#69F;}
.table tr:nth-of-type(2n+1){background:#CCF}
.table_right,.table_left{ float:left;}
.table_right{margin-left:20px; margin-bottom:20px; color:#666; font-weight:600; font-size:14px;}
.table_right label{ display:inline-block; width:100px; margin-top:10px;}
.table_right input{ height:30px; border-radius:5px; border:1px solid #999; width:300px; margin-top:10px;}
.inputLB{ height:30px; border-radius:5px; border:1px solid #999; width:300px; margin-top:10px;}
.buttonLB {
    height:30px;border-radius:5px; border:1px solid #999; width:300px; margin-top:10px;
    cursor:pointer;
width:150px; color:#FFF; background-color:#06c;font-weight:bold;
}

.buttonLB1 {
    height:30px;border-radius:5px; border:1px solid #999; width:300px; margin-top:10px;
    cursor:pointer;
width:150px; color:#FFF; background-color:#06c;font-weight:bold;padding: 4px 20px; 
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button1 {background-color: #06c;} /* Blue */
.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */ 
.button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
.button5 {background-color: #555555;} /* Black */
/*修改密码*/
.password {border:1px solid #999; margin:20px; padding:20px; text-align:center;}
.password label{ display:inline-block; width:100px; margin-top:10px; font-weight:600; font-size:14px; color:#666;}
.password input{ height:30px; border-radius:5px; border:1px solid #999; width:300px; margin-top:10px;}

ul.leftmenu {
    float: left;
    width: 250px;
    border: 1px solid #ddd;
}

    ul.leftmenu li.header {
        padding: 10px;
        background-color: #0198e7;
        opacity:0.8;
        font-size: 16px;
        font-weight: bold;
        color: #fff;
    }

    ul.leftmenu li.item {
        padding: 10px 0;
    }

    ul.leftmenu li.on {
        padding: 10px 0;
        background-color: #efefef;
        margin: 1px 0;
    }

    ul.leftmenu li.item:hover {
        background-color: #efefef;
    }

    ul.leftmenu li.item a {
        font-size: 14px;
        padding: 10px 100px 10px 30px;
    }

    ul.leftmenu li.on a {
        font-size: 14px;
        padding: 10px 100px 10px 30px;
    }
