<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--<configSections>
    <section name="magicAjax" type="MagicAjax.Configuration.MagicAjaxSectionHandler, MagicAjax"/>
  </configSections>
  <magicAjax outputCompareMode="HashCode" tracing="false">
    <pageStore mode="NoStore" unloadStoredPage="false" cacheTimeout="5" maxConcurrentPages="5" maxPagesLimitAlert="false"/>
  </magicAjax>-->



 
  <system.web>
    <!--<httpModules>
      <add name="MagicAjax" type="MagicAjax.MagicAjaxModule, MagicAjax"/>
    </httpModules>-->
    <compilation targetFramework="4.0" debug="true"/>
    <httpRuntime requestValidationMode="2.0"/>
    <pages validateRequest="false"/>
   
  </system.web>
  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <add name="SqlConnStr" connectionString="user id=sa;password=sa@1234;initial catalog=zqhl;data source=20180305-140008\SQLEXPRESS"/>
    <add name="SqlConnStrqiye" connectionString="user id=sa;password=sa@1234;initial catalog=ZhongQiHuiLian;data source=20180305-140008\SQLEXPRESS"/>
    <add name="SqlConnStrZhengce" connectionString="user id=sa;password=sa@1234;initial catalog=zhengce;data source=20180305-140008\SQLEXPRESS"/>
  </connectionStrings>
  <appSettings>
    <add key="Typeid" value="1"/>
    <add key="TypeName" value="工信部电子情报所科技成果评价与推广转化服务中心"/>
    <add key="RowsPerPage" value="12"/>
  </appSettings>
</configuration>